<Html>

<head>
    <title>Sargam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../stuff/music.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<body>
    <div id="image"><img src="../stuff/sargam.png" style="height: 100%;width: 100%;"></div>
    <div id="musicPlayerStart">
        <div id="musicPlayer">
            <div>
                <img src="/image/music.png" style="width: 400px;">
            </div>
            <div>
                <p id="Songname"></p>
            </div>
            <div id="bar">
                <div id="progress"></div>
            </div>
            <div style="display: flex; width: 100%;">
                <div style="width:50%;">
                    <p id="starte"></p>
                </div>
                <div style="width:50%;">
                    <p style="text-align: right;" id="end"></p>
                </div>
            </div>
            <div id="player">
                <div class="icon">
                    <i class="fa fa-angle-double-left" id="hye" onclick="reloade()"></i>
                </div>
                <div class="icon">
                    <audio id="start">
                        <source src="/audio/brown.mp3" type="audio/mp3">
                    </audio>
                    <i class="fa fa-play" id="hy" onclick="play() ;"></i>
                </div>
                <div class="icon">
                    <i class="fa fa-angle-double-right" id="hye" onclick="number(this);"></i>
                </div>
            </div>
        </div>
        <div id="tableStart">
            <div id="styleprofile">
                <div id="top">
                    <table>
                        <tr>
                            <td>S.No</td>
                            <td>Name</td>
                            <td>Action</td>
                        </tr>
                    </table>
                </div>
                <div id="bottom">
                    <table class="scroll">
                        <% for(var i=0; i< docs.length;i++ ){ %>
                        <tr>
                            <td>
                                <%= i+1%>
                            </td>
                            <td>
                                <%=docs[i].name%>
                            </td>
                            <td class="which">
                                <audio class="startSide">
                                    <source src="<%=docs[i].path %>" type="audio/mp3">
                                </audio>
                                <button type="submit" class="playButton" onclick="dataWrite(this)">Play</button>
                            </td>
                        </tr>
                        <% } %>
                    </table>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="musicFile">
                <button type="submit" id="add" name="submit" value="submit"> Add Song</button>
            </form>
        </div>
    </div>
    <script>

    </script>
    <script type="text/javascript" src="../stuff/music.js"></script>
</body>

</Html>