#hy{
	font-size: 40px;
	color:white;
	margin: 10px 15px;
}

#hye{
	font-size: 40px;
	color:white;
	margin: 10px 15px;
}

#musicPlayerStart{
	display: flex;
}

#image{
	height:100px;
	width:400px;
}

#musicPlayer{
	width:400px;
	margin: 0% 10%;
}

#styleprofile{
	height:500px;
	width: 900px;
	background-color: #F9F2F2;
	right: 0;
}

#Songname{
	text-align: center;
	font-size:18px;
}

#add{
	background-color: #2675EC;
	height:40px;
	width:130px;
	padding:10px;
	margin-top:10px;
	margin-left:58%;
	border:none;
	border-radius: 10px;
}

#top{
	height: 100px;
	width: 100%;
	background-color: #2675EC;
}

#bottom{
	height: 400px;
	width: 100%;
	background-color: white;
	overflow: auto;  
}


.icon{
	background-color: red;
	height:60px;
	width: 60px;
	border-radius: 50%;
	margin: 0 auto;
}

tr{
	text-align: center;
	width: 100%;
}

td{
	color: black;
	width: 300px;
	height: 70px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

table{
	border-collapse: collapse;
    border-spacing: 0;
}

table.scroll tbody,
table.scroll thead { display: block; }

table.scroll tbody {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody td:last-child, thead th:last-child {
    border-right: none;
}

.playButton{
	background-color: #8d6fe7;
	height:40px;
	width:80px;
	padding:10px;
	margin-top:2px;
	border:none;
	border-radius: 10px;
}

#player{
	display: flex;
}

#bar{
	width:100%;
	height:7px;
	background-color: #aab7c2;
	margin-top:10px;
}

#progress{
	width: 0%;
  	height: 100%;
  	background-color: #f2331e;
}

body{
	background-color: black;
	color: white;
}


/* Responsive website
    CSS
*/

@media only screen and (max-width: 960px){
	body{
		height: 100%;
		width: 100%;
	}

	#musicPlayerStart{
		display: block;

	}

	#musicPlayer{
		margin-left: 200px;
	}

	#tableStart{
		margin-top:10%;
		margin-left: 30px;
	}

	#styleProfile{
		height: 500px;
		width: 720px;	
	}

	td{
	color: black;
	width: 240px;
	height: 70px;
	}

	table.scroll tbody {
    height: 100%;
    width: 720px;
	}

	#add{
	background-color: #2675EC;
	height:40px;
	width:130px;
	padding:10px;
	margin-top:10px;
	border:none;
	border-radius: 10px;
	margin-left: 350px;
	}

}


@media only screen and (max-width: 540px){
	body{
		height: 100%;
		width: 100%;
	}

	#musicPlayerStart{
		display: block;

	}

	#musicPlayer{
		margin-left: 80px;
	}

	#tableStart{
		margin-top:10%;
		margin-left: 5px;
	}

	#styleProfile{
		height: 500px;
		width: 510px;	
	}

	td{
	color: black;
	width: 170px;
	height: 70px;
	}

	table.scroll tbody {
    height: 100%;
    width: 540px;
	}

	#add{
	background-color: #2675EC;
	height:40px;
	width:130px;
	padding:10px;
	margin-top:10px;
	margin-left: 145px;
	border:none;
	border-radius: 10px;
	}

}


@media only screen and (max-width: 480px){
	body{
		height: 100%;
		width: 100%;
	}

	#musicPlayerStart{
		display: block;

	}

	#musicPlayer{
		margin-left: 40px;
	}

	#tableStart{
		margin-top:10%;
	}

	#styleProfile{
		height: 500px;
		width: 480px;	
	}

	td{
	color: black;
	width: 160px;
	height: 70px;
	}

	table.scroll tbody {
    height: 100%;
    width: 480px;
	}

	#add{
	background-color: #2675EC;
	height:40px;
	width:130px;
	padding:10px;
	margin-top:10px;
	margin-left: 90px;
	border:none;
	border-radius: 10px;
	}

}
